#container {
  width: 400px;
  background-color: #c7d7d9;
  padding: 20px;
}

input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 5px;
  padding: 2px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 15px 0;
}

.list > li {
  background-color: #8ebfbf;
  margin-bottom: 2px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.addButton {
  display: flex;
  justify-content: flex-end;
}
